<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>กิจกรรม</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>ภารกิจ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>สถานะสินค้า</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>ฉัน</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
