<ion-header>
  <ion-toolbar>
    <ion-title slot="start">{{user}}</ion-title>
    <ion-title slot="end">{{coin}} coin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div><app-banner [slides_banner]="slides_banner "></app-banner></div>
  <div><app-category [slides_category]="slides_category "></app-category></div>
  <div
    style="padding: 8px;background-color: #006064;width: 100%;justify-content: space-between;display: flex;flex-direction: row;align-items: center;">
    <span style="margin:  5px;color: #fff;">ภารกิจทดลองสินค้าฟรี </span>
    <div style="align-items: center;background-color: #E0F7FA ;padding: 5px;border-radius: 25px;">
      <span style="margin: 5px;">ดูทั้งหมด ></span> 
    </div>
  </div><!--<ion-icon name="chevron-forward-outline">a5fbf4</ion-icon>-->

  <div><app-mission [slides_mission]="slides_mission "></app-mission></div>
  <div
    style="padding: 8px;background-color: #03DDCB;height: 36px;width: 100%;justify-content: space-between;display: flex;flex-direction: row;">
    <span style="margin-left: 10px;">สินค้าราคาพิเศษ </span>
    <span style="margin-right: 10px;">ดูทั้งหมด</span>
  </div>

  <div>
    <ion-card *ngFor="let item of collection">
      <img alt="Silhouette of mountains" src="../../assets/image/card-media.png" style="height: 76px;width: 100%;">
      <div class="card-hearder">
        <span style="font-size: 15px;">{{label}}</span>
      </div>
      <div>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="9">
              <ion-row style="font-size: 10px;">
                <ion-col size="4">ระยะเวลา</ion-col>
                <ion-col size="8">1 Jul - 31 Aug 2023</ion-col>
              </ion-row>
              <ion-row style="font-size: 10px;">
                <ion-col size="4">เหลืออีก</ion-col>
                <ion-col size="8">100</ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <button style="width: 100%;height: 100%;">ทดลอง</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card>
  </div>
</ion-content>