<ion-content [scrollEvents]="true" (ionScrollStart)="handleScrollStart()" (ionScroll)="handleScroll($any($event))"
  (ionScrollEnd)="handleScrollEnd()">

  <button slot="fixed" class="button-save" (click)="scrollToBottom()" [ngClass]="{'ion-hide': display == true}">เลื่อนไปล่างสุด</button>
  
  <div style="padding: 5%;height: auto;">
    <ion-label style="font-size: 18px;color: #1B264F;">ข้อกำหนดและเงื่อนไขการให้บริการ</ion-label>
    <div style="border: 1px solid #2A36B1; border-radius: 5px;margin-top: 3%;padding: 5%;">
      <p style="font-size: 14px;color: #B6B6B6;">Update date</p>
      <p style="font-size: 24px;color: #1B264F;">Header</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
      <p style="font-size: 16px;color: #1B264F;">ข้อความใดๆที่ปรากฎในหน้านี้ เป็นแค่ ตัวอย่าง
        ที่ถูกสร้างขึ้นมาเพื่อให้เห็นภาพ กรุณาปรึกษาฝ่าย
        กฎหมายของคุณ และนำข้อความมาแทนที่ในตัวอย่าง</p>
    </div>
    <div>
      <ion-checkbox labelPlacement="end" [(ngModel)]="is_enabled" >
        <p>ฉันได้อ่านและทำความเข้าใจเงื่อนไขและข้อกำหนด<br>การให้บริการแล้ว</p>
      </ion-checkbox >
      <button class="button-allow-enabled" [ngClass]="{'button-allow-disabled ': !is_enabled}" [disabled]="!is_enabled" routerLink="/consent">ยอมรับข้อกำหนดและเงื่อนไขการให้บริการ</button>
    </div>
  </div>

</ion-content>